@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap);
/* Caja padre */
main{
    background-color: #ebebeb;
    padding: 20px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content:left;
}
.form-container{
    padding: 0;
}
/* caja hijo nombre uss email */
.name-us-email {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
    border:1px solid #ebebeb;
    border-radius: 3px; 
}

/* Caja hijo Contraseñas */
.pass-confirm{
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
    border:1px solid #ebebeb;
    border-radius: 3px; 
}
/*Caja hijo Fecha nacimineto dato y domicilio*/
.nacimiento-domicilio{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
    border:1px solid #ebebeb;
    border-radius: 3px;
}
/* Perfil de usuario */
.profile-conteiner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
/* Fecha nacimiento - perfil - interes */
.encabezado-form{
    font-weight: bold;
    font-size: 18px;

}
/* Bloque de intereses */
.intereses{
    display: block;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 10px;
}
/* Enviar */
.send{
    background-color: #1259c3;
    color: white;
    width: 100%;
    height: 30px;
    border-color: #1259c3;
    border-radius: 3px;
    font-size: 18px;
    display:flex;
    justify-content: center;
}